.product-view {
  display: flex;
  justify-content: center;

  @include respondMax($bp-small) {
    flex-direction: column;
    padding: 5rem 1rem;
  }

  @include respondMax($bp-smallest) {
    padding: 2.5rem 0;
  }
}

.view {
  &__img-box {
    flex: 0 0 50%;
    height: 75rem;

    @include respondMax($bp-large) {
      flex: 0 0 60%;
    }

    @include respondMax($bp-medium) {
      flex: 0 0 55%;
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
  }
  //

  &__info-action {
    flex: 0 0 35%;
    padding: var(--smallest) var(--smaller);

    align-self: flex-start;
    position: sticky;
    top: 8rem;

    @include respondMax($bp-large) {
      flex: 0 0 40%;
      padding: var(--smallest);
      padding-left: var(--smaller);
    }

    @include respondMax($bp-medium) {
      align-items: center;
      flex: 0 0 45%;
    }
  }
  //

  &__info {
    margin-bottom: var(--smaller);
  }

  &__name {
    font-size: 2.5rem;
    margin-bottom: var(--smallest);
  }

  &__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: var(--border-bottom);
    padding-bottom: var(--smaller);
  }

  &__rating {
    color: var(--color-orange-light);
    font-size: 1.6rem;
  }

  &__price {
    font-size: 1.8rem;
    font-weight: 300;
    margin-bottom: var(--smallest);
  }

  &__detail {
    background-color: var(--color-grey-soft);
    border-radius: 3px;
    padding: 3rem;
    margin-top: var(--smaller);
  }

  &__detail-text {
    font-size: 1.6rem;
  }

  //
  &__action {
  }

  &__add-to-cart {
    display: flex;
    justify-content: space-around;

    @include respondMax($bp-smallest) {
      justify-content: space-around;
    }
  }

  &__qty-controller {
    flex: 0 0 40%;
    display: flex;
    justify-content: center;
    align-items: center;

    @include respondMax($bp-medium) {
      flex: 0 0 35%;
    }

    span {
      margin: 0 var(--smaller);
      font-size: 2rem;
      font-weight: 500;
    }
  }
}
