.product-list {
  width: 100%;
  margin: 0 auto;
  display: grid;
  /* auto-fill:在第一排都排不滿的情況下 也不會填滿width, auto-fit則會填滿width */
  /* minmax:使得 grid-item 最小至少要 300px，最大則會自己延伸 */
  grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
  /* grid-gap: <grid-row-gap> <grid-column-gap>; */
  grid-gap: 2rem;
  padding: 2rem 0;
}
