.shopping-cart {
  @include respondMax($bp-medium) {
    width: 80%;
    margin: 0 auto;
  }

  @include respondMax($bp-smaller) {
    width: 95%;
  }
}

.cart {
  display: flex;

  @include respondMax($bp-medium) {
    flex-direction: column;
  }

  &__list {
    flex: 0 0 65%;
    background-color: var(--color-whtie);
    padding: var(--medium) var(--large);
    display: flex;
    flex-direction: column;
    align-items: center;

    @include respondMax($bp-medium) {
      padding: var(--smaller) var(--medium);
      margin-bottom: var(--medium);
    }

    @include respondMax($bp-smaller) {
      padding: var(--smaller) 0;
    }
  }

  &__item {
    list-style: none;
    padding: var(--smaller) 0;
    width: 85%;
    display: flex;
    border-bottom: var(--border-bottom);
  }

  &__img-box {
    width: 12rem;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__product-box {
    margin-left: var(--smaller);
    flex: 1;
  }

  &__product-name {
    font-size: 1.5rem;
    letter-spacing: 0.8px;
    margin-bottom: var(--smallest);
  }

  &__product-price {
    font-size: 1.4rem;
    font-weight: 300;
    letter-spacing: 1px;
  }

  &__product-action {
    display: flex;
    justify-content: space-between;
    margin-top: var(--medium);
  }

  &__product-amount {
    & span {
      font-size: 2rem;
      font-weight: 400;
      margin: 0 var(--smallest);
    }
  }

  &__action {
    flex: 0 0 30%;
    margin-left: 5%;
    padding: var(--smaller) var(--medium);
    align-self: flex-start;
    background-color: var(--color-grey-light-2);
    text-align: center;

    position: sticky;
    top: 8rem;

    @include respondMax($bp-large) {
      margin-left: 3%;
      padding: var(--smaller) var(--smaller);
    }

    @include respondMax($bp-medium) {
      margin-left: unset;
      align-self: unset;
    }
  }

  &__total-item {
    font-size: 1.8rem;
    font-weight: 300;
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--smaller);
  }

  &__total-order {
    font-size: 2rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--large);

    & span {
      color: var(--color-orange);
    }
  }
}
