.transaction-history {
}

.history {
  &__list {
    background-color: var(--color-whtie);
    padding: var(--medium);

    @include respondMax($bp-medium) {
      padding: var(--smaller);
    }

    @include respondMax($bp-small) {
      padding: var(--smallest);
    }
  }

  &__item {
    display: flex;
    // justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: var(--smallest) var(--smaller);
    border-bottom: var(--border-bottom);

    @include respondMax($bp-medium) {
      padding: var(--smallest);
    }
  }

  &__img-box {
    flex: 0 0 12%;
    height: 15rem;
    cursor: pointer;
    position: relative;
    border-radius: 3px;
    overflow: hidden;

    @include respondMax($bp-medium) {
      flex: 0 0 15%;
      height: 15rem;
    }

    @include respondMax($bp-small) {
      flex: 0 0 20%;
      height: 12.5rem;
    }

    @include respondMax($bp-smaller) {
      flex: 0 0 25%;
    }

    @include respondMax($bp-smallest) {
      flex: 0 0 30%;
    }

    &:hover {
      &::after {
        opacity: 1;
        visibility: visible;
        transform: translate(-50%, -50%);
      }

      & .history__img {
        transform: scale(1.2);
        filter: blur(3px) brightness(80%);
      }
    }

    &::after {
      content: 'Buy again?';
      display: inline-block;
      position: absolute;
      top: 50%;
      left: 50%;
      color: var(--color-whtie);
      font-size: 1.3rem;
      transform: translate(-50%, 3rem);
      opacity: 0;
      visibility: hidden;
      transition: all 0.3s;
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s;
    backface-visibility: hidden;
  }

  &__product-info {
    display: flex;
    align-items: center;
    width: 100%;

    @include respondMax($bp-small) {
      flex-direction: column;
      align-items: flex-start;
      margin-left: var(--medium);
    }

    @include respondMax($bp-smaller) {
      margin-left: var(--smaller);
    }
  }

  &__product-name {
    font-size: 2.2rem;
    font-weight: 300;
    margin-left: var(--medium);
    color: var(--color-grey-dark-1);

    @include respondMax($bp-medium) {
      margin-left: var(--smaller);
      font-size: 2rem;
    }

    @include respondMax($bp-small) {
      margin-left: unset;
      font-size: 1.8rem;
      margin-bottom: var(--smallest);
    }
  }

  &__qty-price {
    text-align: center;
    margin-left: auto;
    color: var(--color-grey-dark-4);
    font-size: 1.8rem;

    @include respondMax($bp-small) {
      margin-left: unset;
      text-align: unset;
      font-size: 1.5rem;
    }
  }

  &__product-qty {
    margin-bottom: var(--smallest);

    @include respondMax($bp-small) {
      margin-bottom: unset;
    }
  }

  &__product-price {
  }

  &__date {
    margin-left: var(--medium);
    color: var(--color-grey-dark-4);

    @include respondMax($bp-small) {
      margin-left: unset;
    }
  }
}
