.container {
  @include respondMax($bp-medium) {
    height: 100%;
  }
}

.content {
  max-width: 120rem;
  margin: var(--smaller) auto;
  margin-top: 9rem;

  // height: calc(100% - 14rem);

  @include respondMax($bp-large) {
    padding: 0 var(--smaller);
    // height: calc(100% - 12rem);
  }

  @include respondMax($bp-medium) {
    height: calc(100%);
  }
}
