.navigation {
  position: fixed;
  top: 0;
  left: 0;
  height: 7rem;
  width: 92%;
  margin-left: 4%;
  padding: 0.5rem 1.5rem;
  display: flex;
  align-items: center;
  box-shadow: var(--shadow-light);
  border-radius: 3px;
  z-index: var(--z-100);
  background-color: var(--color-grey-light-1-transparent-1);

  @include respondMax($bp-large) {
    width: 100%;
    margin-left: 0;
  }

  &__logo-box {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 1rem 1.5rem;
  }

  &__logo-link {
    &:link,
    &:visited {
      color: var(--color-grey-dark-2);
      text-decoration: none;
      font-size: 3rem;
      font-weight: 300;
      letter-spacing: 2px;
      cursor: pointer;
      transition: all 0.3s;
    }

    &:hover {
      color: var(--color-grey-dark-1);
    }
  }

  &__toggle {
    position: absolute;
    top: 0;
    right: 0;
    width: 7rem;
    height: 7rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: var(--color-grey-light-1);

    // responsive
    display: none;

    @include respondMax($bp-medium) {
      display: flex;
    }

    &.active {
      & .navigation__toggle-icon {
        height: 0;
        transition: all 0s;

        &::before {
          transform: translate(-50%, 0) rotate(225deg);
        }

        &::after {
          transform: translate(-50%, 0) rotate(-225deg);
        }
      }
    }

    & .navigation__toggle-icon {
      display: inline-block;
      width: 2.5rem;
      height: 0.8px;
      background-color: black;
      // position: relative;
      transition: all 1s;

      &::before {
        content: '';
        position: absolute;
        left: 50%;

        width: 3rem;
        height: 0.8px;
        background-color: black;
        transform: translate(-50%, -8px);
        transition: all 0.3s;
      }
      &::after {
        content: '';
        position: absolute;
        left: 50%;

        width: 3rem;
        height: 0.8px;
        background-color: black;
        transform: translate(-50%, 8px);
        transition: all 0.3s;
      }
    }
  }

  &__toggle-notification {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: var(--color-orange);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-whtie);
  }

  &__nav {
    margin-left: auto;

    @include respondMax($bp-medium) {
      margin-left: 0;
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      height: calc(100vh - 6rem);
      display: flex;
      justify-content: center;
      align-items: center;
      transform: translateX(100%);
      background-color: var(--color-grey-light-1);

      transition: all 0.4s;

      &.active {
        transform: translateX(0);
      }
    }
  }

  &__list {
    display: flex;

    @include respondMax($bp-medium) {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }

  &__item {
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-right: 3rem;

    @include respondMax($bp-large) {
      margin-right: 1rem;
    }

    // google login in navigation link
    &:last-child .navigation__link {
      &:link,
      &:visited {
        height: 4.5rem;
        flex-direction: row;
        padding: 0 1.5rem;
        width: auto;
        border-radius: 3px;
        border: 2px solid var(--color-grey-dark-4);
        margin-left: 0.5rem;

        @include respondMax($bp-medium) {
          padding: 0 2.5rem;
          width: 12rem;
        }
      }

      &:hover,
      &.active {
        border-color: var(--color-grey-dark-2);
        background-color: var(--color-grey-dark-2);
        color: var(--color-grey-light-1);
      }

      & i {
        margin-right: 0.8rem;
      }

      & span {
        display: inline-block;
      }
    }
  }

  // navigation link
  &__link {
    &:link,
    &:visited {
      height: 6rem;
      width: 6rem;
      text-decoration: none;
      color: var(--color-grey-dark-4);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-bottom: 3px solid transparent;
      position: relative;

      transition: color 0.3s, background-color 0.3s;

      @include respondMax($bp-large) {
        padding: 0 1rem;
      }

      @include respondMax($bp-medium) {
        flex-direction: row;
        margin-bottom: var(--smaller);
        width: 12rem;
      }
    }

    &:hover {
      border-bottom: 3px solid var(--color-grey-dark-4);
    }

    &.active {
      color: var(--color-grey-dark-2);
      border-bottom: 3px solid var(--color-grey-dark-2);
    }

    & i {
      font-size: 2rem;

      @include respondMax($bp-medium) {
        display: none;
      }
    }
  }

  &__link-name {
    font-size: 1.5rem;
    line-height: 1.4;

    @include respondMax($bp-large) {
      display: none;
    }

    @include respondMax($bp-medium) {
      display: inline-block;
    }
  }

  &__notification {
    position: absolute;
    top: 0;
    right: 5px;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: var(--color-orange);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-whtie);

    @include respondMax($bp-large) {
      top: 5px;
      right: 5px;
    }

    @include respondMax($bp-medium) {
      top: 5px;
      right: -5px;
    }
  }
}
