.btn {
  &,
  &:link,
  &:visited {
    font-family: inherit;
    // color: inherit;
    // font-size: 1.6rem;
    border: none;
    // background-color: transparent;
    cursor: pointer;
    transition: all 0.3s;

    // anchor tag
    text-decoration: none;
  }

  &--absolute {
    width: 100%;
    height: 100%;
  }

  &--heart {
    background-color: transparent;

    @media screen and(hover:hover) {
      &:hover {
        color: var(--color-orange);
      }
    }

    &.active {
      color: var(--color-orange);
    }
  }

  &--calc {
    font-size: 2.5rem;
    color: var(--color-grey-dark-3);
    background-color: transparent;

    @include respondMax($bp-smallest) {
      font-size: 2rem;
    }

    &:hover {
      color: var(--color-grey-dark-1);
    }

    &.disable {
      color: var(--color-grey-light-4);
    }
  }

  &--rectangle {
    display: inline-block;
    padding: 1.5rem 5rem;
    border-radius: 3px;
    color: var(--color-whtie);
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    text-align: center;
    position: relative;

    @include respondMax($bp-large) {
      padding: var(--smaller) var(--medium);
    }

    // @include respondMax($bp-small) {
    //   padding: var(--smallest) var(--medium);
    // }

    @include respondMax($bp-smallest) {
      padding: var(--smallest) var(--smaller);
    }

    &:hover {
      transform: translateY(-2px);
    }

    &:active {
      transform: translateY(-1px);
    }

    &.disable,
    &.disable-interval {
      color: var(--color-grey-light-3);
      background-color: var(--color-grey-dark-4);

      &:hover {
        transform: none;
        background-color: var(--color-grey-dark-4);
      }
    }
  }

  &--add-to-cart {
    &::before {
      content: '';
      display: inline-block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 3px;
      background-color: inherit;
      transform: translate(0) scale(1);
      animation: moveToTopAndDisappear 1s cubic-bezier(0.16, 1, 0.3, 1);
      animation-fill-mode: backwards;
    }
  }

  &--delete {
    font-size: 2rem;
    color: var(--color-grey-dark-3);
    background-color: transparent;

    &:hover {
      color: var(--color-grey-dark-1);
    }
  }

  &--green {
    background-color: var(--color-green-dark-1);

    &:hover {
      background-color: var(--color-green-dark-2);
    }
  }

  &--orange {
    background-color: var(--color-orange);

    &:hover {
      background-color: var(--color-orange-light);
    }
  }

  &--slider {
    font-size: 3rem;
    background-color: var(--color-grey-light-1-transparent-2);
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      background-color: var(--color-grey-light-1-transparent-1);
    }
  }

  &--abs-left {
    position: absolute;
    top: 50%;
    left: 2rem;
    transform: translateY(-50%);
  }

  &--abs-right {
    position: absolute;
    top: 50%;
    right: 2rem;
    transform: translateY(-50%);
  }

  &--dot {
    width: 1.5rem;
    height: 1.5rem;
    background-color: var(--color-grey-light-2);
    border-radius: 50%;
    margin-right: 2rem;
    box-shadow: var(--shadow-dark);

    &:last-child {
      margin-right: 0;
    }

    &:hover,
    &.active {
      background-color: var(--color-grey-light-4);
    }
  }

  &--glass {
    color: var(--color-grey-dark-2);
    background-color: var(--color-glass);
    border: 2px solid var(--color-grey-light-2);

    &:hover {
      background-color: var(--color-grey-light-2);
      color: var(--color-grey-dark-2);
    }
  }
}
