// frequently-used property

$bp-large: 1200px;
$bp-medium: 800px;
$bp-small: 600px;
$bp-smaller: 450px;

@mixin respondMax($breakpoint) {
  @media only screen and (max-width: $breakpoint/16px*1em) {
    @content;
  }
}
