// color & font-size

:root {
  --color-grey-light-1: #f8f9fa;
  --color-grey-light-2: #e9ecef;
  --color-grey-light-3: #ced4da;
  --color-grey-light-4: #adb5bd;

  --color-grey-dark-1: #212529;
  --color-grey-dark-2: #343a40;
  --color-grey-dark-3: #495057;
  --color-grey-dark-4: #6c757d;
}
