* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  // 10px
  font-size: 62.5%;
  height: 100%;

  @include respondMax($bp-large) {
    // 9px
    font-size: 56.25%;
  }

  @include respondMax($bp-medium) {
    // 8px
    font-size: 50%;
  }
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  padding: 0 3rem;
  background-color: var(--color-grey-light-1);
  line-height: 1.7;
  color: var(--color-grey-dark-2);

  @include respondMax($bp-large) {
    padding: 0;
  }

  @include respondMax($bp-medium) {
    height: calc(100% - 7rem);
  }
}

#root {
  @include respondMax($bp-medium) {
    height: 100%;
  }
}

::selection {
}
